/* https://colorhunt.co/palette/12081 */
/* https://colorhunt.co/palette/2763 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 24px;

  --color-black: #050505;
  --color-primary: #3e4149;
  --color-primary-2: #444f5a;
  --color-accent: #ff9999;
  --color-accent-2: #ffc8c8;
}

body {
  font-family: 'Crimson Text', sans-serif;
  background-color: var(--color-primary);
}

main {
  padding: 20px;
  width: 100vw;
  height: 100vh;
}

.label {
  background-color: var(--color-black);
  color: var(--color-primary-2);
  padding: 0 4px;
  text-decoration: none;
}
.label + .label { margin-left: 4px; }
a.label { cursor: pointer; }

.front, .back, .error {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.front.hidden, .back.hidden { display: none; }
.front > * + *, .back > * + * {
  margin-top: 24px;
}
.front > :first-child, .back > :first-child {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}

.front > .term {
  font-weight: normal;
  cursor: pointer;
  font-size: 2rem;
  color: var(--color-accent);
  text-align: center;
}

.back > .definition {
  cursor: pointer;
  color: var(--color-accent-2);
  font-family: inherit;
  white-space: pre-wrap;
}

.definition ol, .definition ul {
  list-style-position: inside;
}
.definition ul > li {
  list-style: none;
}
.definition ul > li::before {
  content: '- ';
}
